{% block pageInfo %}
<!DOCTYPE html>
{% endblock %}
<html>
    <head>

        <!------------------Meta Data ------------------------->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Volunteer Management System for National Volunteer Secretariat">
        <meta name="author" content="Ridwan Shariffdeen">

        <title>{% block title %}National Volunteer Hub{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-------------------------StyleSheets------------------->
            <link id="bs-css" href={{asset('bundles/ridwansite/css/bootstrap-simplex.css')}} rel="stylesheet">
            <style type="text/css">
                body {
                    padding-bottom: 40px;
                }
                .sidebar-nav {
                    padding: 9px 0;
                }
            </style>
            <link href={{asset('bundles/ridwansite/css/bootstrap-responsive.css')}} rel="stylesheet">
            <link href={{asset('bundles/ridwansite/css/charisma-app.css')}} rel="stylesheet">
            <link href={{asset('bundles/ridwansite/css/jquery-ui-1.8.21.custom.css')}} rel="stylesheet">
            <link href={{asset('bundles/ridwansite/css/fullcalendar.css')}} rel='stylesheet'>
            <link href={{asset('bundles/ridwansite/css/fullcalendar.print.css' )}} rel='stylesheet'  media='print'>
            <link href={{asset('bundles/ridwansite/css/chosen.css')}} rel='stylesheet'>
            <link href={{asset('bundles/ridwansite/css/uniform.default.css')}} rel='stylesheet'>
            <link href={{asset('bundles/ridwansite/css/colorbox.css')}} rel='stylesheet'>
            <link href={{asset('bundles/ridwansite/css/jquery.cleditor.css')}} rel='stylesheet'>
            <link href={{asset('bundles/ridwansite/css/jquery.noty.css')}} rel='stylesheet'>
            <link href={{asset('bundles/ridwansite/css/noty_theme_default.css')}} rel='stylesheet'>
            <link href={{asset('bundles/ridwansite/css/elfinder.min.css')}} rel='stylesheet'>
            <link href={{asset('bundles/ridwansite/css/elfinder.theme.css')}} rel='stylesheet'>
            <link href={{asset('bundles/ridwansite/css/jquery.iphone.toggle.css')}} rel='stylesheet'>
            <link href={{asset('bundles/ridwansite/css/opa-icons.css')}} rel='stylesheet'>
            <link href={{asset('bundles/ridwansite/css/uploadify.css')}} rel='stylesheet'>

        <!--Additional Styles Sheets for extending pages-->
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>

        <!---------------Content --------------------------------->
        <!-- messages -->
      
        {% if type is defined %}
        {% if type == 'E' %}
            <script type="text/javascript">
                window.onload = function() {
                    noty(jQuery.parseJSON('{"text":"{{message}}","layout":"top","type":"error"}'));

                }
            </script>
        {% endif %}

        {% if type == 'S' %}
            <script type="text/javascript">
                window.onload = function() {
                    noty(jQuery.parseJSON('{"text":"{{message}}","layout":"top","type":"success"}'));

                }
            </script>
        {% endif %}
        {% endif %}

        <!-- topbar starts -->
        {% block header %}
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container-fluid">


                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <table width="100%"><tr>
                            <td width="5%">
                                <a href="{{ path('ridwan_site_home') }}">
                                    <img class="center" src="{{asset('bundles/ridwansite/images/icon.png')}} " width = "40px"/>
                                </a>
                            </td>
                            <td width="64%">
                                <div class="top-nav nav-collapse">
                                    <ul class="nav">
                                        <li>
                                            <form class="navbar-search pull-left">
                                                <input placeholder="type your keyword to search" class="search-query span7" name="query" type="text">&nbsp;&nbsp;&nbsp;<i class="icon-search"></i>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                             <!--/.nav-collapse -->
                            </td>
                            <td width="22%">
                                <div class="pull-right" >
                                    {% if app.user %}

                                        <div class="btn-group pull-right" >
                                            <a data-toggle="dropdown" href="#">
                                                <button class="btn btn-mini btn-round btn-info"><i class="icon-user"></i><span class="hidden-phone"> &nbsp;&nbsp;{{app.user.username}}</span></button>

                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{path('fos_user_security_logout')}}">Logout</a></li>
                                                <li><a href="{{path('fos_user_change_password')}}">Change Password</a></li>
                                                <li><a href="{{path('fos_user_profile_edit')}}">Account Settings</a></li>
                                            </ul>

                                        </div>

                                        {%  if Notifications is defined %}
                                        <div class="btn-group pull-right" >
                                            <a data-toggle="dropdown" href="#">
                                                <button class="btn btn-mini btn-round btn-info"><i class="icon-bell"></i> Notifications<span class="hidden-phone"> </span>	</button>

                                                {% set noOfNotification = 0 %}
                                                {% for notification in Notifications %}
                                                    {% set noOfNotification = noOfNotification + 1 %}
                                                {% endfor %}
                                                {% if noOfNotification > 0 %}
                                                    <span class="notification red">{{noOfNotification}}</span>
                                                {% endif%}
                                            </a>
                                            <ul class="dropdown-menu span6 center">
                                                <div class="row-fluid">
                                                    {% if Notifications != null %}
                                                        <div class="box-content alerts">
                                                            {% for notification in Notifications %}
                                                            {% if notification.task == 0 %}

                                                            <a href="{{path('moraspirit_project_details_notification',{'projectID':notification.project,'notificationID':notification.id})}}"><li>

                                                                    {% else %}

                                                                    <a href="{{path('moraspirit_task_details_notification',{'taskID':notification.task,'notificationID':notification.id})}}"> <li>

                                                                            {% endif %}


                                                                            {% if notification.type == 4 %}
                                                                                <div class="alert alert-error">
                                                                                    <button url="{{ path('moraspirit_notification_see', { 'notificationID': notification.id }) }}" id="{{notification.id}}"type="button" class=" close btn-comment">×</button>
                                                                                    <div class = "pull-right">
                                                                                        {{ notification.timestamp|date('Y-m-d H:i:s')}}
                                                                                    </div>

                                                                                    <strong><h5>{{notification.heading}}</h5></strong>

                                                                                    {{notification.details}}
                                                                                    <br>
                                                                                </div>

                                                                            {% endif %}

                                                                            {% if notification.type == 3 %}
                                                                                <div class="alert alert-success">
                                                                                    <button url="{{ path('moraspirit_notification_see', { 'notificationID': notification.id }) }}" id="{{notification.id}}"type="button" class=" close btn-comment">×</button>
                                                                                    <div class = "pull-right">
                                                                                        {{ notification.timestamp|date('Y-m-d H:i:s')}}
                                                                                    </div>
                                                                                    <strong><h5>{{notification.heading}}</h5></strong>

                                                                                    {{notification.details}}<br>



                                                                                </div>

                                                                            {% endif %}

                                                                            {% if notification.type == 2 %}
                                                                                <div class="alert alert-heading">
                                                                                    <button url="{{ path('moraspirit_notification_see', { 'notificationID': notification.id }) }}" id="{{notification.id}}"type="button" class=" close btn-comment">×</button>
                                                                                    <div class = "pull-right">
                                                                                        {{ notification.timestamp|date('Y-m-d H:i:s')}}
                                                                                    </div>
                                                                                    <strong><h5>{{notification.heading}}</h5></strong>

                                                                                    {{notification.details}}<br>
                                                                                </div>

                                                                            {% endif %}
                                                                            {% if notification.type == 1 %}
                                                                                <div class="alert alert-info">
                                                                                    <button url="{{ path('moraspirit_notification_see', { 'notificationID': notification.id }) }}" id="{{notification.id}}"type="button" class=" close btn-comment">×</button>
                                                                                    <div class = "pull-right">
                                                                                        {{ notification.timestamp|date('Y-m-d H:i:s')}}
                                                                                    </div>
                                                                                    <strong><h5>{{notification.heading}}</h5></strong>

                                                                                    {{notification.details}}<br>

                                                                                </div>

                                                                            {% endif %}
                                                                        </li>
                                                                        {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        <li align ="center">
                                                            no new notifications
                                                        </li></a>
                                                    {% endif %}


                                                </div><!--/span-->
                                                <li class="divider"></li>
                                                <li align="center"><a href="{{path('ridwan_allnotification')}}">see all</a></li>

                                            </ul>
                                        </div>
                                            {% endif %}

                                    {% endif %}
                                </div>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- topbar ends -->
        {% endblock %}
        {% block dashboard %}

            <div class="span2 main-menu-span">
                <div class="well nav-collapse sidebar-nav">
                    <p align="center">
                        {%  if app.user.path %}
                            <img src="{{app.user.path}}" width="150px" height="150px" style="border: 2px">
                        {%  else  %}
                            <img src="{{ asset('bundles/ridwansite/images/default.jpg') }}" width="150px" height="150px" style="border: 2px">
                        {%  endif %}
                        <br><br><strong>{{app.session.get('name')}}</strong>
                    </p>
                    <ul class="nav nav-tabs nav-stacked main-menu">

                        {% if app.user.roles[0] == 'ADMINISTRATOR' %}

                        <li class="nav-header hidden-tablet">Dashboard</li>
                        <li><a class="ajax-link" href=""><i class="icon-star"></i><span class="hidden-tablet"> Special 1</span></a></li>
                        <li><a class="ajax-link" href=""><i class="icon-star"></i><span class="hidden-tablet"> Special 2</span></a></li>
                        {% endif %}

                        <li class="nav-header hidden-tablet">Dashboard</li>
                        <li><a class="ajax-link" href="{{ path('ridwan_site_home') }}"><i class="icon-home"></i><span class="hidden-tablet"> Home</span></a></li>
                        <li><a class="ajax-link" href="{{ path('ridwan_opportunity_index') }}"><i class="icon-eye-open"></i><span class="hidden-tablet"> Opportunities</span></a></li>

                        {% if app.user.roles[0] == 'ADMINISTRATOR' or app.user.roles[0] == 'NVS' %}
                            <li><a class="ajax-link" href="{{ path('ridwan_opportunity_assignment_index') }}"><i class="icon-list-alt"></i><span class="hidden-tablet"> Assignments</span></a></li>
                            <li><a class="ajax-link" href="{{ path('ridwan_admin_users') }}"><i class="icon-user"></i><span class="hidden-tablet"> Users</span></a></li>
                            <li><a class="ajax-link" href="{{ path('isuru_stat_homepage') }}"><i class="icon-align-justify"></i><span class="hidden-tablet"> Statistics</span></a></li>
                        {% else %}
                        <li><a class="ajax-link" href=""><i class="icon-list-alt"></i><span class="hidden-tablet"> Resources</span></a></li>

                        {% endif %}


                    </ul>
                </div><!--/.well -->
            </div><!--/span-->
        {% endblock %}

        <!-- left menu ends -->

        <div class="container-fluid">
            <div class="row-fluid">


                <noscript>
                    <div class="alert alert-block span10">
                        <h4 class="alert-heading">Warning!</h4>
                        <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                    </div>
                </noscript>


                {% block content %}
                {% endblock %}

                <div class="modal hide fade" id="comment">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <p align="center">Are you sure you want to delete this Notification?
                        </p>


                    </div>
                    <div class="modal-footer">

                        <form action="empty" id = "continue-form" method="POST">
                            <input name="id" id="del-id" type="hidden" value="empty" />
                            <a href="#" class="btn" data-dismiss="modal">Close</a>
                            <input type="submit" class="btn btn-primary" value="continue">
                        </form>

                    </div>
                </div>

            </div>
        </div>

        {% block delete %}
        {% endblock %}

        <hr>
        <footer>
            <p class="center"><strong>National Volunteering Secretariat, Sri Lanka </strong>&copy; 2014
        </footer>

        </div>
        
        <!------------------------JavaScripts --------------------------------!>
           <!-- jQuery -->
        <script src={{asset('bundles/ridwansite/js/jquery-1.7.2.min.js')}}></script>
        <!-- jQuery UI -->
        <script src={{asset('bundles/ridwansite/js/jquery-ui-1.8.21.custom.min.js')}}></script>
        <!-- transition / effect library -->
        <script src={{asset('bundles/ridwansite/js/bootstrap-transition.js')}}></script>
        <!-- alert enhancer library -->
        <script src={{asset('bundles/ridwansite/js/bootstrap-alert.js')}}></script>
        <!-- modal / dialog library -->
        <script src={{asset('bundles/ridwansite/js/bootstrap-modal.js')}}></script>
        <!-- custom dropdown library -->
        <script src={{asset('bundles/ridwansite/js/bootstrap-dropdown.js')}}></script>
        <!-- scrolspy library -->
        <script src={{asset('bundles/ridwansite/js/bootstrap-scrollspy.js')}}></script>
        <!-- library for creating tabs -->
        <script src={{asset('bundles/ridwansite/js/bootstrap-tab.js')}}></script>
        <!-- library for advanced tooltip -->
        <script src={{asset('bundles/ridwansite/js/bootstrap-tooltip.js')}}></script>
        <!-- popover effect library -->
        <script src={{asset('bundles/ridwansite/js/bootstrap-popover.js')}}></script>
        <!-- button enhancer library -->
        <script src={{asset('bundles/ridwansite/js/bootstrap-button.js')}}></script>
        <!-- accordion library (optional, not used in demo) -->
        <script src={{asset('bundles/ridwansite/js/bootstrap-collapse.js')}}></script>
        <!-- carousel slideshow library (optional, not used in demo) -->
        <script src={{asset('bundles/ridwansite/js/bootstrap-carousel.js')}}></script>
        <!-- autocomplete library -->
        <script src={{asset('bundles/ridwansite/js/bootstrap-typeahead.js')}}></script>
        <!-- tour library -->
        <script src={{asset('bundles/ridwansite/js/bootstrap-tour.js')}}></script>
        <!-- library for cookie management -->
        <script src={{asset('bundles/ridwansite/js/jquery.cookie.js')}}></script>
        <!-- calander plugin -->
        <script src={{asset('bundles/ridwansite/js/fullcalendar.min.js')}}></script>
        <!-- data table plugin -->
        <script src={{asset('bundles/ridwansite/js/jquery.dataTables.min.js')}}></script>

        <!-- chart libraries start -->
        <script src={{asset('bundles/ridwansite/js/excanvas.js')}}></script>
        <script src={{asset('bundles/ridwansite/js/jquery.flot.min.js')}}></script>
        <script src={{asset('bundles/ridwansite/js/jquery.flot.pie.min.js')}}></script>
        <script src={{asset('bundles/ridwansite/js/jquery.flot.stack.js')}}></script>
        <script src={{asset('bundles/ridwansite/js/jquery.flot.resize.min.js')}}></script>
        <!-- chart libraries end -->

        <!-- select or dropdown enhancer -->
        <script src={{asset('bundles/ridwansite/js/jquery.chosen.min.js')}}></script>
        <!-- checkbox, radio, and file input styler -->
        <script src={{asset('bundles/ridwansite/js/jquery.uniform.min.js')}}></script>
        <!-- plugin for gallery image view -->
        <script src={{asset('bundles/ridwansite/js/jquery.colorbox.min.js')}}></script>
        <!-- rich text editor library -->
        <script src={{asset('bundles/ridwansite/js/jquery.cleditor.min.js')}}></script>
        <!-- notification plugin -->
        <script src={{asset('bundles/ridwansite/js/jquery.noty.js')}}></script>
        <!-- file manager library -->
        <script src={{asset('bundles/ridwansite/js/jquery.elfinder.min.js')}}></script>
        <!-- star rating plugin -->
        <script src={{asset('bundles/ridwansite/js/jquery.raty.min.js')}}></script>
        <!-- for iOS style toggle switch -->
        <script src={{asset('bundles/ridwansite/js/jquery.iphone.toggle.js')}}></script>
        <!-- autogrowing textarea plugin -->
        <script src={{asset('bundles/ridwansite/js/jquery.autogrow-textarea.js')}}></script>
        <!-- multiple file upload plugin -->
        <script src={{asset('bundles/ridwansite/js/jquery.uploadify-3.1.min.js')}}></script>
        <!-- history.js for cross-browser state change on ajax -->
        <script src={{asset('bundles/ridwansite/js/jquery.history.js')}}></script>
        <!-- application script for Charisma demo -->
        <script src={{asset('bundles/ridwansite/js/charisma.js')}}></script>

        <!--Additional Java Scripts for extending pages-->
        {% block javascripts %}        

        {% endblock %}
    </body>
</html>
