{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Referees list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Contactnumber</th>
                <th>Email</th>
                <th>Mobilenumber</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('referees_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.contactnumber }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.mobilenumber }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('referees_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('referees_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('referees_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
