<br><br><br><br><br><br>
<div class="alert alert-success center span8">
    
    <h3>Updated Successfully!</h3> <br><br>

    <div class="fos_user_user_show">
    <p>{{ 'username: '|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
    <p>{{ 'email: '|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
</div>
<br><br>
<a  href="{{ path('ridwan_site_home') }}">Get Back</a>
</div>
<br>
<br><br><br><br><br><br>
