<div class="box span4 center">
    <div class="box-header well">

        <h2><i class="icon-lock"></i> Change Password</h2>

    </div>
    <div class="box-content">
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal center fos_user_change_password">
    <div class="control-group error ">
        {{form_label(form.current_password, 'Current Password',{ 'label_attr': {'class': 'control-label'} })}}

        <div class="controls">
            {{form_widget(form.current_password)}}<br>
            <p class="help-block">{{ form_errors(form.current_password) }}</p>
        </div></div>

    <div class="control-group success ">
        {{form_label(form.new.first, 'New Password',{ 'label_attr': {'class': 'control-label'} })}}

        <div class="controls">
            {{form_widget(form.new.first)}}<br>
            <p class="help-block">{{ form_errors(form.new.first) }}</p>
        </div></div>

    <div class="control-group success ">
        {{form_label(form.new.second, 'Confirm Password',{ 'label_attr': {'class': 'control-label'} })}}

        <div class="controls">
            {{form_widget(form.new.second)}}<br>
            <p class="help-block">{{ form_errors(form.new.second) }}</p>
        </div></div>

    {{ form_widget(form) }}

    <div class="control-group ">
        {{form_label(form.new.second, ' ',{ 'label_attr': {'class': 'control-label'} })}}

        <div>
            <input type="submit" value="Change" class ="btn btn-primary"/>
            <a href="{{ path('ridwan_site_home') }}"><button class="btn btn-danger">Cancel</button></a>
            <span class="help-inline">{{ form_errors(form.new.second) }}</span>
        </div></div>


</form>
        </div>
    </div>
