

{% block body -%}
    <h1>Education list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Institution</th>
                <th>Field</th>
                <th>Degree</th>
                <th>Duration</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ridwan_education_show', { 'id': entity.id }) }}">{{ entity.institution }}</a></td>
                <td>{{ entity.field }}</td>
                <td>{{ entity.degree }}</td>
                <td>{{ entity.duration }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('ridwan_education_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('ridwan_education_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('ridwan_education_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
