{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Volunteerfeedback list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Date</th>
                <th>Rating</th>
                <th>Comment</th>
                <th>Recommend</th>
                <th>Joinagain</th>
                <th>Description</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('volunteerfeedback_show', { 'id': entity.id }) }}">{{ entity.date }}</a></td>
                <td>{{ entity.rating }}</td>
                <td>{{ entity.comment }}</td>
                <td>{{ entity.recommend }}</td>
                <td>{{ entity.joinagain }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('volunteerfeedback_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('volunteerfeedback_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('volunteerfeedback_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
