{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Volunteerfeedback</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ entity.rating }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ entity.comment }}</td>
            </tr>
            <tr>
                <th>Recommend</th>
                <td>{{ entity.recommend }}</td>
            </tr>
            <tr>
                <th>Joinagain</th>
                <td>{{ entity.joinagain }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('volunteerfeedback') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('volunteerfeedback_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
